aiofiles==24.1.0
aiohttp==3.12.13
ffmpeg-python==0.2.0
g4f[all]==0.6.0.2
google-generativeai==0.8.5
jaconv==0.4.0
mutagen==1.47.0
openai==1.101.0
pillow==11.2.1
py-cord[voice]==2.6.1
pyshorteners==1.0.1
python-dotenv==1.1.1
requests==2.32.4
typing_extensions==4.14.1
yt-dlp[default]==2025.9.5